langchain
langgraph
langchain-google-genai
langchain-qdrant
langchain-ollama
langchain-huggingface
huggingface-hub
matplotlib
pymysql
mysql-connector-python
pandas
pymupdf
python-dotenv
bcrypt
python-jose[cryptography]
python-multipart
selenium
sqlalchemy
torch
transformers
fastapi
uvicorn[standard]